.dialogs-list {
  background-color: white;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border-right: 1px solid #f7f7f7;
  overflow-block: auto;
  scrollbar-width: thin;
  animation: 0.1s linear;
  transition: 0.1s;
  z-index: 50;

  &.hidden {
    width: 0;
  }
}

.dialogs {
  margin: 20px;
}
