.dialogs-search {
  padding: 10px;
  background-color: #f7f8f9;
  margin: 20px;

  &__wrapper {
    padding: 5px 10px;

    & img {
      width: 14px;
      height: 14px;
      position: relative;
      top: 1px;
    }
  }

  & input {
    width: 80%;
    border: none;
    outline: none;
    background-color: #f7f8f9;
    padding-left: 10px;
  }
}
