.profile {
  &__wrapper {
    margin-top: 10px;
  }

  background-color: white;
  display: block;

  height: 75px;
  width: 150px;
  padding: 5px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.342) 1px 0px 10px;

  & span {
    word-break: break-all;
  }

  & img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  &.hidden-content {
    display: none;
  }

  &__show-button {
    border: none;
    background: none;
    cursor: pointer;
    width: 150px;
    position: relative;
    top: 0;
    transition: 0.1s;

    & span {
      opacity: 0;
      transition: 0.1s;
      color: rgb(91, 152, 209);

      &::before {
        content: "";
        display: block;
        width: 15px;
        height: 15px;
        background-image: url("../../../assets/down-arrow.png");
        background-size: contain;
        margin: auto;
        margin-top: 2px;
        position: relative;
        transition: 0.2s;
        top: 0;
      }
    }

    &:hover {
      top: 10px;

      & span {
        opacity: 1;
      }
    }

    &:hover span::before {
      top: 7px;
      margin-bottom: 10px;
    }
  }
}
