.dialog__wrapper {
  width: 85%;
  background-color: white;
  position: relative;

  .app-loading {
    background-color: white;
  }
}

.empty__dialog {
  width: 72%;
  background-color: white;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  & img {
    width: 50px;
    display: block;
    margin-bottom: 20px;
    object-fit: cover;
  }

  & h2 {
    align-self: center;
    font-size: 1.2rem;
    width: 70%;
    margin: 0 auto;
  }
}

.dialog__header {
  text-align: center;
  display: flex;
  place-items: center;
  height: 70px;
  box-sizing: border-box;
  border-bottom: 1px solid #f7f7f7;
  padding: 10px 20px;

  &__link {
    text-decoration: none;
    color: black;
  }

  & h3 {
    margin-bottom: 5px;
    cursor: pointer;
  }

  & p {
    margin-top: 0;

    &.online::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: #00c980;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      left: -5px;
      top: 1px;
    }

    &.offline::before {
      content: "";
      width: 10px;
      height: 10px;
      background-color: grey;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      left: -5px;
      top: 1px;
    }
  }

  &-name {
    width: 90%;
  }

  &-settings {
    width: 10%;
  }
}
