.send-form {
  bottom: -30px;
  min-width: -webkit-fill-available;
  text-align: center;
  overflow: hidden;
  padding-top: 5px;

  &:focus {
    border: none;
  }

  &-relative {
    position: relative;
  }

  &__input {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    box-sizing: border-box;
    scrollbar-width: none;
    padding: 13px 15px;
    padding-left: 45px;
    padding-right: 95px;
    height: 50px;
    width: 95%;
    resize: none;
    outline: none !important;

    &-wrapper {
      
    }

    &:focus {
      // border: 2px solid #3674ff;
      border: none;
    }
  }

  & span {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;

    &.send-form__stickers {
      width: 20px;
      height: 20px;
      left: 30px;
      top: 13px;
      opacity: 0.5;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
    &.send-form__photo {
      width: 20px;
      height: 20px;
      right: 90px;
      top: 15px;
      opacity: 0.5;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
    &.send-form__voice {
      width: 16px;
      height: 20px;
      right: 65px;
      top: 15px;
      opacity: 0.5;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  & img {
    width: 100%;
  }

  .send-form__submit {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;

    opacity: 0.5;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}