.send-form {
  bottom: -30px;
  min-width: -webkit-fill-available;
  text-align: center;
  overflow: hidden;
  padding-top: 5px;

  &:focus {
    border: none;
  }

  &-relative {
    position: relative;
  }

  &__input {
    border: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    box-sizing: border-box;
    scrollbar-width: none;
    padding: 13px 15px;
    padding-left: 45px;
    padding-right: 95px;
    height: 50px;
    width: 95%;
    resize: none;
    outline: none !important;

    &-wrapper {
    }

    &:focus {
      // border: 2px solid #3674ff;
      border: none;
    }
  }

  & span {
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    cursor: pointer;

    &.send-form__stickers {
      width: 20px;
      height: 20px;
      left: 30px;
      top: 13px;
      opacity: 0.5;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
    &.send-form__photo {
      width: 20px;
      height: 20px;
      right: 90px;
      top: 15px;
      opacity: 0.5;
      transition: 0.2s;

      &:hover {
        opacity: 1;
      }
    }
    &.send-form__voice {
      width: 20px;
      height: 20px;
      right: 65px;
      top: 15px;
      opacity: 0.5;
      transition: 0.2s;
      border-radius: 50%;

      &:hover {
        opacity: 1;
      }

      transition: background 0.2s ease;

      img {
        width: 20px;
        height: 20px;
        z-index: 2;
      }

      &.recording {
        background: #ef4444;
        animation: pulse 1.2s infinite ease-in-out;
        padding: 8px;
        top: 5px;
        right: 55px;
      }
    }
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.6);
    }
    70% {
      box-shadow: 0 0 0 14px rgba(239, 68, 68, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
    }
  }

  & img {
    width: 100%;
  }

  .send-form__submit {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 10px;
    cursor: pointer;

    opacity: 0.5;
    transition: 0.2s;

    &:hover {
      opacity: 1;
    }
  }
}

.audio-message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;

  button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    background: #0f3997;
    color: white;
    cursor: pointer;
    position: relative;
    right: -70px;
  }

  canvas {
    border-radius: 15px;
    color: #3674ff;
    background-color: #3674ff;
    padding: 6px 100px;
    width: 140px;
    border-bottom-left-radius: 0;
  }
}
