.home {
  text-align: center;
}

.messages {
  border-right: 1px solid #cac6c6;
  border-left: 1px solid #cac6c6;
  &__input-text {
    width: 100%;
  }
  &__input-text input {
    caret-color: rgba(185, 56, 56, 0.849);
    width: 100%;
    height: 43px;
    border: none;
    padding-left: 40px;
    outline: none;
    transition: 2s;
    padding-right: 100px;
  }

  &__input-wrapper:hover {
    border: 1px solid rgb(54, 54, 223);
    outline: none;
  }

  &__input-text input:focus {
    border: 1px solid rgb(54, 54, 223);
    outline: none;
  }

  .input__stikers,
  &__photos,
  &__microphone,
  &__sendMessage {
    position: absolute;
    top: 11px;
    cursor: pointer;
    height: 100%;
    transition: 0.2s;
  }

  .input__stikers:hover,
  &__photos:hover,
  &__microphone:hover,
  &__sendMessage:hover {
    color: blue;
  }

  .input__stikers {
    left: 10px;
  }
  &__photos {
    right: 50px;
  }
  &__microphone {
    right: 30px;
  }
  &__sendMessage {
    right: 10px;
  }
  &__input-wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    position: sticky;
    bottom: 0;
    background: #ffffff;
    border: 1px solid #cac6c6;
    box-sizing: border-box;
    border-radius: 4px;
    height: 45px;
    box-sizing: border-box;
  }
  height: 100%;
  width: 48%;
  margin-left: auto;
  margin-right: 0;
  display: inline-block;
  &__header {
    padding: 8px;
    border-bottom: 1px solid #cac6c6;
  }

  &__wrapper {
    padding: 15px;
  }

  &__header-online::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #00c980;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: baseline;
  }
  &__header-ofline::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
    vertical-align: baseline;
  }
}

.dialogs {
  width: 23%;
  display: inline-block;
  vertical-align: top;
  height: 85vh;
  border-bottom: 1px solid #cac6c6;
  border-right: 1px solid #cac6c6;
  border-left: 1px solid #cac6c6;
  overflow: hidden;
  &__items-wrapper {
    height: 85vh;
    overflow-y: auto;
  }
  &__search {
    margin-bottom: 25px;
  }

  &__search-guys {
    padding: 15px;
  }

  &__edit {
    padding: 15px;
    height: 60px;
    border-bottom: 1px solid #cac6c6;
    &-user,
    &-button {
      vertical-align: middle;
    }
    &-button {
      float: right;
      margin-top: 2px;
      cursor: pointer;
    }
    &-button:hover {
      color: black;
    }
    &-user {
      margin-right: 5px;
      float: left;
      margin-top: 2px;
    }
  }
}

.messages__header {
  text-align: center;
}
