.auth {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  &__button {
    background-color: rebeccapurple;
    margin-top: 20px;
    width: 100%;
    height: 45px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
    outline: none;
  }

  &__mainTitle {
    margin-bottom: 0;
  }

  &__wrapper {
    -webkit-box-shadow: 0px 0px 8px -1px rgba(105, 105, 105, 0.3);
    -moz-box-shadow: 0px 0px 8px -1px rgba(105, 105, 105, 0.3);
    box-shadow: 0px 0px 8px -1px rgba(105, 105, 105, 0.3);
    padding: 20px;
  }

  &__loginTitle {
    margin-bottom: 35px;
    color: #7a7a7a;
  }

  &__registrationTitle {
    margin-top: 20px;
    a {
      color: #7a7a7a;
    }
    a:hover {
      transition: 0.2s;
      color: #202020;
    }
  }

  .login__wrapper {
    height: 400px;
    width: 350px;
    background-color: rgba(206, 202, 202, 0.075);
    padding: 50px;
    box-sizing: content-box;
  }

  &__form {
    width: 100%;
  }

  .form__username {
    align-content: center;
    margin-bottom: 10px;
    width: 100%;
    input {
      height: 30px;
    }
  }

  .form__password {
    margin-bottom: 10px;
    align-content: center;
    width: 100%;
    input {
      height: 30px;
    }
  }
}
